.first {
    background-color:rgb(241, 151, 66);
    min-height: 88vh;
    display: flex;
    justify-content: space-around;
    
}

.panel1 {
    background-color:rgb(145, 241, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 40vh;
}

.amount {
    background-color:rgb(231, 247, 12);
    height: 20vh;
}

.cards {
    background-color:rgb(241, 66, 66);
}

.panel2 {
    background-color:rgb(66, 98, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;   
}

