.Compo {
    background: white ;
    padding: 0px;
   
}
.Compo-logo {
    height: 7vmin;
    pointer-events: none;
}

.Watermelon {
    color: rgb(240, 38, 38);
    min-height: 5vh;
}
.deco {
    color:white;
    min-height: 5vh;
    font-size: 1.5em;
}
.border {
    height: 7px;
    background: linear-gradient(315deg,rgb(253, 0, 4),rgb(255, 158, 158),rgb(36, 219, 61));
    animation: bganimation 15s infinite;
    background-size: 400% 400%;
    margin: 0px;
}
.button
{
  padding-left: 5px;
}

@keyframes bganimation {
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
  @keyframes Compo-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
